{{ define "main" }}

<div class="intro-header no-img">
</div>

<div class="container" role="main">
    <div class="row">
        {{ with .Content }}
        <div class="well">
            {{ if site.Params.Author.authorPostImage }}
            <div class="justify-content-center align-items-center d-flex mb-4">
                {{- $authorPostImage := "" -}}
                {{ $authorPostImage = site.Params.Author.authorPostImage }}
                {{ $image := resources.Get $authorPostImage }}
                <img src="{{ $image.RelPermalink }}" class="img-responsive author-img img-round" alt="">
            </div>
            {{ end }}

            {{.}}
        </div>
        {{ end }}


        {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections ) 9 }}
        {{ range $pag.Pages }}
        {{ partial "post_preview_card" . }}
        {{ end }}


    </div>

    <div class="row font-sans">
        <div class="col-md-12 mt-10">
            <nav aria-label="Page navigation">
                <div class="pagination justify-content-end">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </nav>
        </div>
    </div>
</div>

{{ end }}